<div class="container">
<div class="col-md-9 col-sm-6 col-xs-12 ">
<div class ="panel panel-default">
  <div class="panel-heading"><b> Nouveau Produit </b> </div>
  <div class="panel-body">
    <form  [formGroup]="this.catalogueService.dataForm" (ngSubmit)=" addData()">
      <div class="form-group">
        <label class="control-label">Désignation :</label>
        <input class="form-control" type="text" formControlName="designation" >
      </div>
      <div class="form-group">
        <label class="control-label">Quantité :</label>
        <input class="form-control" type="number" formControlName="quantite" >
      </div>
      <div class="form-group">
        <label class="control-label">Prix :</label>
        <input class="form-control" type="text" formControlName="price" >
      </div>
      <div class="form-group">
        <label class="control-label">Caractéristique technique :</label>
        <input class="form-control" type="text" formControlName="descriptionTech" >
      </div>

      <div class="form-group">
        <label>File Upload  </label>
        <input type="file" accept="image/*" (change)="onSelectFile($event)">
        <img [src]="imgURL" height="200" *ngIf="imgURL">
      </div>
      <button class="btn btn-success" type="submit"> Save</button>
    </form>


    </div>

  </div>
</div>
</div>
