<div class="container margin">
    <form  #f="ngForm" (ngSubmit)="onSerach(f.value)">
      <div>
        <input  placeholder="Chercher..." type="text" name="Keyword" ngModel>
        <button style="margin-left: 5px;" type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>

        </button>
      </div>
    </form>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button  routerLink="/new-product" style="margin-left: 10px"  class="btn btn-primary" >
        <span class="glyphicon glyphicon-plus"></span> Ajouter Nouveau Produit</button>
    </div>
  <div class="col-md-8" >
  <div class="panel panel-default">
    <div class="panel-heading">Liste des produits</div>

    <div class="panel-body">

      <div class="row" *ngIf="produits">
        <div *ngFor="let p of produits._embedded.produits">

          <div class="col-md-6">
            <div class="panel panel-default ">
              <div class="panel-heading">{{p.designation}}</div>

              <div class="panel-body" >
                <div class="row">
                  <div class="col-md-8">
                    <img (click)="onProductDetails(p)"src="{{catalogueService.host+'/imageProduit/'+p.id}}" width="350" height="220"/>
                  </div>

                  <div  class="col-md-6">
                    <button   type="button" class="btn btn-success" (click)="onEditProduct(p)">
                      <span class="glyphicon glyphicon-edit"></span>
                      Edit</button>
                    <button style="margin-left: 10px"  class="btn btn-danger" (click)="onDeleteProduct(p)">
                      <span class="glyphicon glyphicon-remove-sign"></span> Delete</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <ul *ngIf="pages" class="nav nav-pills">
        <li  class="clickable" [ngClass]="i==this.currentPage?'active':''" *ngFor="let p of pages; let i=index" >
          <a (click)="onPageProduct(i)">{{i}}</a>

        </li>
      </ul>

    </div>
  </div>

</div>

</div>
</div>
